<h2>Add Product</h2>
<form [formGroup]="productForm" (ngSubmit)="submitForm(productForm.value)">
    <div class="form-group">
        <input type="text" name="title" id="title" class="form-control" formControlName="title" placeholder="Title" />
        <p class="error-message" *ngIf="productForm.get('title')?.hasError('required')">Title is required.</p>

    </div>
    <div class="form-group">
        <input type="text" name="price" id="price" class="form-control" formControlName="price" placeholder="Price" />
        <p class="error-message" *ngIf="productForm.get('price')?.hasError('required')">price is required.</p>
    </div>
    <div class="form-group">
        <input type="text" class="form-control" name="description" id="description" formControlName="description" placeholder="Description" />
        <p class="error-message" *ngIf="productForm.get('description')?.hasError('required')">description is required.</p>

    </div>
    <div class="form-group">
        <label for="product">Category List</label>
        <select class="form-control" name="categoryId" id="categoryId" formControlName="categoryId">
            <option value="">--Select Category--</option>
            <option *ngFor="let cat of categories|async" [value]="cat.id">{{cat.name}}</option>
         </select>
        <p class="error-message" *ngIf="productForm.get('categoryId')?.hasError('required')">Category is required.</p>

    </div>
    <div class="form-group">
        <label for="images">Select an image:</label><br>
        <input type="file" name="images" id="images" formControlName="images" />
        <p class="error-message" *ngIf="productForm.get('images')?.hasError('required')">Image is required.</p>

    </div>
    <br>
    <button class="btn btn-primary" type="submit" [disabled]="!productForm.valid">Posalji</button>
</form>