<h2> Add Category</h2>
<form [formGroup]="categoryForm" (ngSubmit)="submitForm(categoryForm.value)">
    <div class="form-group">
        <input type="text" name="name" id="name" class="form-control" formControlName="name" placeholder="name" />
        <p class="error-message" *ngIf="categoryForm.get('name')?.hasError('required')">name is required.</p>
    </div>
    <div class="form-group">
        <input type="text" name="image" id="image" class="form-control" formControlName="image" placeholder="image url" />
        <p class="error-message" *ngIf="categoryForm.get('image')?.hasError('required')">Image url is required.</p>
    </div>
    <br>
    <button class="btn btn-primary" type="submit" [disabled]="!categoryForm.valid">Send</button>
</form>